.intro {
  box-sizing: border-box;
  padding: 0 10%;

  &__text {
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 22px;
    line-height: 32px;
  }

  &__title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    font-weight: 400;
  }
}

@include respond-to(md) {
  .intro {
    padding: 0 7%;

    &__title {
      display: none;
    }

    &__text {
        font-size: 18px;
        line-height: 28px;
    }
  }
}
