.intro {
  box-sizing: border-box;
  padding: 0 10%;

  &__text {
    margin: 0;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 26px;
    line-height: 36px;
  }

  &__title {
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
  }
}

@include respond-to(md) {
  .intro {
    padding: 0;
    &__title {
      display: none;
    }
  }
}
