.tender {
  margin-top: 60px;
  padding: 50px 0;
  border-top: 10px solid $black;
  border-bottom: 10px solid $black;

  &__title {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0 15%;
    box-sizing: border-box;
    margin-bottom: 85px;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;

    pre {
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
      font-family: "Armour", "Arial", sans-serif;
    }
  }

  @for $i from 1 to 6 {
    &__item:nth-child(#{$i}) {
      position: relative;
      padding-top: 200px;
      width: 20%;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150px;
        background-image: url('/static/tender#{$i}.png');
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@include respond-to(md) {
  .tender {
    padding: 50px 7%;
    box-sizing: border-box;

    &__list {
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      box-sizing: border-box;
    }
      &__item {
        font-size: 18px;
        line-height: 28px;
        padding-top: 130px!important;

        pre {
          font-size: 18px;
          line-height: 28px;
        }
      }


    &__title {
      font-size: 34px;
    }

    @for $i from 1 to 6 {
      &__item:nth-child(#{$i}) {
        width: 45%;

        &:nth-child(3) {
          width: 100%;
        }

        &::before {

          width: 130px;
          height: 130px;

        }
      }
    }
  }
}
